venv
__pycache__
.flaskenv
react-frontend/.yarn/
react-frontend/node_modules/
react-frontend/yarn.lock
react-frontend/.yarnrc.yml
react-frontend/yarn.lock
/react-frontend/yarn.lock
/react-frontend/.pnp.cjs
/react-frontend/.pnp.loader.mjs