.App {
  text-align: center;
  vertical-align: top;
}

.wrapper fieldset {
  margin: 0px;
  margin-bottom: 20px;
  background-color: whitesmoke;
}

.fieldset {
  padding: 10px;
  display: inline-block;
}

.square {
  background-color: lightcyan;
  width: 45px;
  height: 45px;
  border: black 1px solid;
  vertical-align: top;
  margin: 1px;
  justify-content: center;  
  display: inline-block;
}

.square-text {
  font-size: 2em;
  display: inline-block;
  vertical-align: top;
  text-align: bottom; 
}

button {
  background-color: lightcyan;
  border-color: white;
  padding: 7px 10px;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
}

input {
  width: 20%;
  padding: 10px 15px;
  margin: 16px 0px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1em;
  background-color: lightcyan;
}

select {
  width: 50%;
  padding: 10px 15px;
  margin: 16px 0px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1em;
  background-color: lightcyan;
}

option {
  text-align: center;
  font-size: 1em;
}